.container {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#main {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main img {
  width: 25%;
}
